:root {
    --blue: rgb(0, 159, 227);
    --blueTransparent: rgb(0, 159, 227, .8);
    --lightBlueTransparent: rgba(198, 238, 255, 0.8);
    --pink: rgb(230, 0, 127);
    --yellow: rgb(255, 221, 0);
    --darkGray: rgb(29, 29, 27);
    --lightGray: rgb(120,120,131);
    --antiFlashWhite: #F0F0F0;
}

@font-face{
    font-family: metropolisRegular;
    src: url(../fonts/metropolis.regular.otf);
}

@font-face{
    font-family: dinProLight;
    src: url(../fonts/dinpro.ttf);
}

body{
    font-family: metropolisRegular;
    background-color: var(--antiFlashWhite);
}

/* Home Page */

.headerText{
    font-size: 6vw;

    animation: moveInRight 1s ease-out;
}

.headerTag{
    animation: moveInLeft 1s ease-out;
}

.navButton::after{
    content: '';
    height: 1px;
    width: 0%;
    background-color: var(--lightGray);
    display: block;
    transition: .2s ease-out;
}

.navButton:hover::after{
    content: '';
    height: 1px;
    width: 100%;
    background-color: var(--lightGray);
    display: block;
}

.serviceImage{
    transition: .5s ease-in-out;
}

.serviceImage:hover{
    border-radius: 50%;
}

@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translateX(-10rem);
    }
    80%{
        transform: translateX(1rem)
    }
    100%{
        opacity: 1;
        transform: translateX(0rem);
    }
}

@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(10rem);
    }
    80%{
        transform: translateX(-1rem);
    }
    100%{
        transform: translate(0rem);
        opacity: 1;
    }
}

@keyframes fill{
    from{
        top: 200px;
        transform: translate(-50%);
    }
    to{
        top: 0px;
        transform: translate(-50%);
    }
}

/* about us */
.aboutUsContainer{
    margin-top: 100px;
    /* height: 50rem; */
    /* background-image: linear-gradient(to right bottom, var(--blueTransparent), var(--lightBlueTransparent)), url(/images/home.jpg); */
}

.myButton{
    /* box-shadow: inset 0 0 0 0 white; */
    transition: .4s ease-in-out;
    padding: 10px;
    background-color: var(--darkGray);
    outline: none;
    border: 1px solid var(--darkGray);
    border-radius: 20px;
}

.myButton:hover{
    /* box-shadow: inset -350px 0 0 0 white; */
    outline: none;
    color: black;
    background-color: var(--antiFlashWhite);
}

.btnCircleLg{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color:var(--darkGray);
    font-size: 24px;
    border: none;
    position: relative;
    overflow: hidden;
    color: white;
    z-index: 0;
}

.btnCircleLg:hover::before{
    content: "";
    background-color: var(--blue);
    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 100px;
    left: 50%;
    animation: fill 1s ease-in-out forwards;
    z-index: -1;
}

.btnCircleLgText{
    z-index: 1;
    margin-top: 20px;
}

/* Services */
.servicesImg{
    object-fit: cover;
    max-width: 600px;
    /* max-height: 350px; */
	transform: scale(1);
	transition: .6s ease-in-out;
}

.servicesImg:hover{
    object-fit: cover;
    cursor: pointer;
	transform: scale(1.1);
}

figure{
    overflow: hidden;
    max-width: 600px;
    max-height: 350px;
}

/* About Us */
.aboutUsContactButton{
    width: 300px;
}